/* Extra Small devices  */
@media (max-width: 575px) {
    #full_nav{
        position: static;
        background: #000;
    }
    .banner_heading, .banner_heading span{
        font-size: 30px;
    }
    .banner_para{
        font-size: 16px;
    }
    .about_img{
        text-align: center;
    }
    .work_type h5{
        font-size: 13px;
        text-align: center;
    }
    .work_type_list li{
        font-size: 13 px;
    }
    .work_type_list{
        margin-top: 15px;
        text-align: center;
    }
    .footer_text{
        text-align: center;
    }
    .footer_icon{
        text-align: center;
        margin-top: 15px;
    }
    .sec_title h2{
        font-size: 30px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    #full_nav{
        position: static;
        background: #000;
    }
    .work_type h5{
        font-size: 13px;
    }
    .work_type_list li{
        font-size: 13px;
    }
    .work_type_list{
        margin-top: 15px;
        text-align: right;
    }
    .footer_icon{
        margin-top: 15px;
    }
    .sec_title h2{
        font-size: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (min-width: 991px) {
    #full_nav{
        position: static;
        background: #000;
    }
    .footer_icon{
        margin-top: 15px;
    }
    .sec_title h2{
        font-size: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}